<form #form="ngForm"
      (submit)="form.valid && submit()"
      class="w-100">
    <fieldset [disabled]="busy$ | async" class="d-flex flex-column">

        <h3 class="mb-3">Reset Password</h3>

        <p class="mb-3">
            Enter the email address associated with your account, and we'll send you a link to reset your password.
        </p>

        <mat-form-field class="mb-3 w-100">
            <input #emailModel="ngModel"
                   [(ngModel)]="data.email"
                   [email]="true"
                   aria-label="Email"
                   autocomplete="email"
                   matInput
                   name="email"
                   placeholder="Email"
                   required
                   type="email">
            <fa-icon class="mr-3" icon="envelope" matPrefix></fa-icon>
            <mat-error *ngIf="emailModel.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="emailModel.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>

        <div class="d-flex align-items-baseline">
            <a class="mr-auto btn-padding" routerLink="/users/login">Back to sign in</a>
            <button [disabled]="busy$ | async"
                    class="text-uppercase"
                    color="accent"
                    mat-flat-button
                    type="submit">
                Reset Password
            </button>
        </div>
    </fieldset>
</form>
