@import "../config";

:host {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: $white;
    border: 1px solid $border-color;
    padding: map-get($spacers, 3);
    margin: map-get($spacers, 3);
    max-width: 17rem;
    @include mat-elevation(2);
}
