<form (submit)="formGroup.valid && submit()"
      [formGroup]="formGroup"
      class="w-100">
    <fieldset [disabled]="busy$ | async" class="d-flex flex-column">
        <h3 class="mb-3">Email {{(registrations$ | async)?.status | titlecase}}</h3>

        <p>
            We sent you an email containing an activation code. You can click the link in the email or enter the
            activation code here.
        </p>

        <mat-form-field class="mb-3 w-100">
            <input aria-label="Code"
                   autocomplete="section-activation code"
                   formControlName="activation_code"
                   matInput
                   name="activation_code"
                   placeholder="Code"
                   required
                   type="text">
            <fa-icon class="mr-3" icon="lock" matPrefix></fa-icon>
            <mat-error *ngIf="messages['activation_code'].hasErrors()">{{messages['activation_code'].getMessage()}}
            </mat-error>
        </mat-form-field>

        <div class="d-flex align-items-baseline">
            <a class="mr-auto btn-padding" routerLink="/users/login">Back to sign in</a>
            <button [disabled]="busy$ | async"
                    class="text-uppercase w-50"
                    color="accent"
                    mat-flat-button
                    type="submit">
                Continue
            </button>
        </div>
    </fieldset>
</form>
