<form (submit)="formGroup.valid && submit()"
      [formGroup]="formGroup"
      class="w-100">
    <fieldset [disabled]="busy$ | async" class="d-flex flex-column">

        <h3 class="mb-3">Sign In</h3>

        <mat-form-field class="mb-3 w-100">
            <input aria-label="Email"
                   autocomplete="email"
                   formControlName="email"
                   matInput
                   name="email"
                   placeholder="Email"
                   required
                   type="email">
            <fa-icon class="mr-3" icon="envelope" matPrefix></fa-icon>
            <mat-error *ngIf="messages.email.hasErrors()">{{messages.email.getMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="mb-3 w-100">
            <input aria-label="Password"
                   autocomplete="current-password"
                   formControlName="password"
                   matInput
                   name="password"
                   placeholder="Password"
                   required
                   type="password">
            <fa-icon class="mr-3" icon="lock" matPrefix></fa-icon>
            <mat-error *ngIf="messages.password.hasErrors()">{{messages.password.getMessage()}}</mat-error>
        </mat-form-field>

        <mat-checkbox (change)="rememberMe = $event.checked"
                      [checked]="rememberMe"
                      [disabled]="busy$ | async"
                      class="d-flex mb-3 w-100">
            Remember me
        </mat-checkbox>

        <div class="d-flex align-items-baseline">
            <a class="mr-auto" routerLink="/users/reset">Forgot password?</a>
            <button [disabled]="busy$ | async"
                    class="text-uppercase"
                    color="accent"
                    mat-flat-button
                    type="submit">
                Sign in
            </button>
        </div>
    </fieldset>

    <div class="d-flex flex-row mt-3 justify-content-center">
        <a class="d-flex p-2" routerLink="/users/register">Create a new account</a>
    </div>
</form>

