@import "../config";

:host {
    .verb {
        font-weight: bold;
    }

    &.strength-weak {
        .verb {
            color: darken($red, 10%);
        }
    }

    &.strength-fair {
        .verb {
            color: darken($yellow, 10%);
        }
    }

    &.strength-good {
        .verb {
            color: darken(mix($yellow, $green), 10%);
        }
    }

    &.strength-strong {
        .verb {
            color: darken($green, 10%);
        }
    }
}
